[[headers]]
  for = "/sitemap.xml"
  [headers.values]
    Content-Type = "application/xml"
    X-Robots-Tag = "all"

[[headers]]
  for = "/*.xml"
  [headers.values]
    Content-Type = "application/xml"
